{
  "env": {
    "mocha": true
  },

  "globals": {
    "assert": true,
    "getWarnFn": true,
    "getFn": true,
    "getMsgFn": true,
    "doesNotWarn": true,
    "consoleSpy": true
  },

  "rules": {
    "max-statements": 0,
    "max-lines": 0,
    "max-len": 0,
    "max-params": 0,
    "no-console": 0,
    "strict": 0,
  }
}
